@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
margin: 0px;
padding: 0px;
font-family: 'Roboto', sans-serif;
}

header{
 height: 20vh;
 background-color: #00a884; 
 display: flex;
 align-items: center;
}

header > img{
    height: 50px;
    padding: 5px;
    margin: 0px 9px;
}

header > h3{
    color: white;
    font-size: 0.9rem;
}

main{
    height: 80vh;
    background-color: ivory;
    display: flex;
    justify-content: center;
}

.mainwrap{
    background-color: white;
    height: auto;
    top: 97px;;
    width: 80vw;
    border: 1px solid ;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    position: absolute;
    cursor: pointer;
}

.main-wrap1{
    margin: 11px 0px;
    display: flex;
    justify-content: space-around;
}

.text{
    padding: 15px;
}

ol > li{
    padding: 10px;
}
.main-wrap2{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.help{
    color: green;
    margin: 0px 13px;
}

.check{
    margin-right: 40px;
}

.main-wrap3{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}